# Data Preparation

In [26]:
import pandas as pd

# read the data
cyphertext_path = "../data/ciphertext/countdown_23.txt"
with open(cyphertext_path, "r", encoding="utf-8") as f:
    data = f.readlines()
data[:5]

['ABC D | ABE FGHIJK | AJALB\n',
 'AMNOBJI FDBKPF | AMFF QKJ | RJKS (QT FJG)\n',
 'RUOGAKJ | RMNSIJ ASCQBLJK | RSMVC LWL TSFOXB\n',
 'SIMYJK OJIQJRF | SFMKMF | DBGKMNP GSDDMRU | FGS\n',
 'DSKGJK KSLMRFSR (QT FJG) | KMSG GJR | FBLBM\n']

In [27]:
# split the data
lines = [line.strip().split('|') for line in data]
lines = [[artist.strip() for artist in line] for line in lines]
lines[:5]

[['ABC D', 'ABE FGHIJK', 'AJALB'],
 ['AMNOBJI FDBKPF', 'AMFF QKJ', 'RJKS (QT FJG)'],
 ['RUOGAKJ', 'RMNSIJ ASCQBLJK', 'RSMVC LWL TSFOXB'],
 ['SIMYJK OJIQJRF', 'SFMKMF', 'DBGKMNP GSDDMRU', 'FGS'],
 ['DSKGJK KSLMRFSR (QT FJG)', 'KMSG GJR', 'FBLBM']]

In [28]:
# create list of artists
artists = [{'cyphertext': artist.upper()} for line in lines for artist in line]
artists[:5]

[{'cyphertext': 'ABC D'},
 {'cyphertext': 'ABE FGHIJK'},
 {'cyphertext': 'AJALB'},
 {'cyphertext': 'AMNOBJI FDBKPF'},
 {'cyphertext': 'AMFF QKJ'}]

In [29]:
# convert to dataframe
df = pd.DataFrame(artists)
df.head()

       cyphertext
0           ABC D
1      ABE FGHIJK
2           AJALB
3  AMNOBJI FDBKPF
4        AMFF QKJ

In [30]:
# save the data
output_path = "../data/processed/countdown_23.csv"
df.to_csv(output_path, index=False)